html{
    height: 100%;
    background-image: linear-gradient(yellow, red);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: blueviolet;
    font-size: 60px;
}

h3{
    color: aqua;
    font-size: 40px;
}

table{
    border-collapse: collapse;
    width: 50%;
}

th, td{
    border: 3px solid greenyellow;
    text-align: center;
}

th {
    background: orchid;
}

td {
    background: plum;
}